body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.resume {

}

.name {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: 	#2e5395;
    margin: 0.5rem auto;
}

.logo {
    width: 100%;
    background-color: #bcd6ed;
    padding: 0.5rem 0;
}

.logo .logo-circle {
    border-radius: 50%;
    margin: 1rem auto;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.logo .logo-text {
    font-size: 5rem;
    font-weight: 800;
    color: #2e5395;
    text-align: center;
    transform: translateY(10%);
}

.logo .logo-shape-container {
    height: 50%;
    display: flex;
    justify-content: center;
}

.logo .logo-shape {
    display: inline-block;
    width: 15%;
    height: 70%;
    border-radius: 5px;
    background-color: #4471c4;
    margin: 0 2%;
    transform: translateY(10%);
}

.title-container {
    background-color: #2d75b6;
    padding: 0.5rem 0;
    color: #fff;
    font-size: 2rem;
}

.title-text {
    margin-left: 1rem;
}

.skill-category.top {
    margin-top: 0.5rem;
}

.skill-category {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.skill-content li {
    opacity: 0.8;
    font-size: 1.2rem;
}

.job-title {
    color: #2d74b5;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.project-title {
    color: #2d74b5;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-top: 0.5rem; 
}

.demo-url {
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-size: 1.3rem;
}

.company-name {
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-size: 1.3rem;
}

.work-period {
    opacity: 0.67;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.job-description {
    font-size: 1.3rem;
    margin-right: 1rem;
}
